In [0]:
from pyspark.sql import *
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [0]:
data = [
    (1, "Alice", 23, 85, 20230801),
    (2, "Bob", 22, 78, 20230802),
    (3, "Charlie", 24, 92, 20230803),
    (4, "David", 21, 76, 20230804),
    (5, "Eve", 23, 88, 20230805),
    (6, "Frank", 25, 80, 20230806),
    (7, "Grace", 22, 90, 20230807),
    (8, "Heidi", 24, 75, 20230808),
    (9, "Ivan", 23, 89, 20230809),
    (10, "Judy", 21, 91, 20230810),
    (11, "Karl", 24, 82, 20230811),
    (12, "Leo", 23, 84, 20230812),
    (13, "Mona", 22, 77, 20230813),
    (14, "Nina", 21, 95, 20230814),
    (15, "Oscar", 23, 79, 20230815),
    (16, "Paul", 24, 87, 20230816),
    (17, "Quinn", 22, 81, 20230817),
    (18, "Rachel", 23, 93, 20230818),
    (19, "Sam", 24, 74, 20230819),
    (20, "Tina", 21, 85, 20230820),
    (21, "Uma", 23, 88, 20230821),
    (22, "Victor", 22, 78, 20230822),
    (23, "Wendy", 24, 92, 20230823),
    (24, "Xander", 21, 76, 20230824),
    (25, "Yara", 23, 88, 20230825),
    (26, "Zane", 25, 80, 20230826),
    (27, "Aaron", 22, 90, 20230827),
    (28, "Bella", 24, 75, 20230828),
    (29, "Carter", 23, 89, 20230829),
    (30, "Diana", 21, 91, 20230830),
    (31, "Eli", 24, 82, 20230831),
    (32, "Fiona", 23, 84, 20230901),
    (33, "George", 22, 77, 20230902),
    (34, "Hannah", 21, 95, 20230903),
    (35, "Isaac", 23, 79, 20230904),
    (36, "Jack", 24, 87, 20230905),
    (37, "Kara", 22, 81, 20230906),
    (38, "Liam", 23, 93, 20230907),
    (39, "Mila", 24, 74, 20230908),
    (40, "Noah", 21, 85, 20230909),
    (41, "Olivia", 23, 88, 20230910),
    (42, "Pete", 22, 78, 20230911),
    (43, "Queen", 24, 92, 20230912),
    (44, "Reed", 21, 76, 20230913),
    (45, "Sia", 23, 88, 20230914),
    (46, "Toby", 25, 80, 20230915),
    (47, "Ursula", 22, 90, 20230916),
    (48, "Vera", 24, 75, 20230917),
    (49, "Will", 23, 89, 20230918),
    (50, "Xena", 21, 91, 20230919)
]


schema = StructType([
    StructField("ID", IntegerType(), True),
    StructField("Name", StringType(), True),
    StructField("Age", IntegerType(), True),
    StructField("Score", IntegerType(), True),
    StructField("Timestamp", LongType(), False)
])

df=spark.createDataFrame(data=data, schema=schema)
df.display()

ID,Name,Age,Score,Timestamp
1,Alice,23,85,20230801
2,Bob,22,78,20230802
3,Charlie,24,92,20230803
4,David,21,76,20230804
5,Eve,23,88,20230805
6,Frank,25,80,20230806
7,Grace,22,90,20230807
8,Heidi,24,75,20230808
9,Ivan,23,89,20230809
10,Judy,21,91,20230810
11,Karl,24,82,20230811
12,Leo,23,84,20230812
13,Mona,22,77,20230813
14,Nina,21,95,20230814
15,Oscar,23,79,20230815
16,Paul,24,87,20230816
17,Quinn,22,81,20230817
18,Rachel,23,93,20230818
19,Sam,24,74,20230819
20,Tina,21,85,20230820
21,Uma,23,88,20230821
22,Victor,22,78,20230822
23,Wendy,24,92,20230823
24,Xander,21,76,20230824
25,Yara,23,88,20230825
26,Zane,25,80,20230826
27,Aaron,22,90,20230827
28,Bella,24,75,20230828
29,Carter,23,89,20230829
30,Diana,21,91,20230830
31,Eli,24,82,20230831
32,Fiona,23,84,20230901
33,George,22,77,20230902
34,Hannah,21,95,20230903
35,Isaac,23,79,20230904
36,Jack,24,87,20230905
37,Kara,22,81,20230906
38,Liam,23,93,20230907
39,Mila,24,74,20230908
40,Noah,21,85,20230909
41,Olivia,23,88,20230910
42,Pete,22,78,20230911
43,Queen,24,92,20230912
44,Reed,21,76,20230913
45,Sia,23,88,20230914
46,Toby,25,80,20230915
47,Ursula,22,90,20230916
48,Vera,24,75,20230917
49,Will,23,89,20230918
50,Xena,21,91,20230919

In [0]:
data1 = [
    (1, "Sophia", 23, 85, 20221001),
    (2, "Mila", 22, 78, 20221002),
    (3, "George", 24, 92, 20221003),
    (5, "Thomas", 23, 88, 20221005),
    (6, "Isaac", 25, 80, 20221006),
    (9, "Aaron", 23, 89, 20221009),
    (10, "Wendy", 21, 91, 20221010),
    (11, "Uma", 24, 82, 20221011),
    (16, "Rachel", 24, 87, 20221016),
    (17, "Quinn", 22, 81, 20221017),
    (18, "Liam", 23, 93, 20221018),
    (20, "Bob", 21, 85, 20221020),
    (21, "Alice", 23, 88, 20221021),
    (22, "Charlie", 22, 78, 20221022),
    (24, "Paul", 21, 76, 20221024),
    (25, "Pete", 23, 88, 20221025),
    (26, "Karl", 25, 80, 20221026),
    (27, "Frank", 22, 90, 20221027),
    (29, "Noah", 23, 89, 20221029),
    (32, "Eve", 23, 84, 20221030),
    (33, "Nina", 22, 77, 202211101),
    (35, "Yvonne", 23, 79, 20221102),
    (36, "Will", 24, 87, 20221103),
    (37, "Sia", 22, 81, 20221104),
    (38, "Reed", 23, 93, 20221105),
    (39, "Olivia", 24, 74, 20221106),
    (40, "Pat", 21, 85, 20221107),
    (41, "Xena", 23, 88, 20221108),
    (42, "Carter", 22, 78, 20221109),
    (43, "Jack", 24, 92, 20221110),
    (44, "Fiona", 21, 76, 20221111),
    (45, "Tina", 23, 88, 20221112),
    (46, "Zane", 25, 80, 20221113),
    (47, "Vera", 22, 90, 20221114),
    (48, "Queen", 24, 75, 20221115),
    (49, "Oscar", 23, 89, 20221116),
    (50, "Victor", 21, 91, 20221117),
    (51, "Yara", 24, 90, 20221118),
    (52, "Toby", 25, 78, 20221119),
    (53, "Kara", 23, 85, 20221120),
    (54, "Zack", 22, 80, 20221121),
    (55, "Ivan", 24, 88, 20221122),
    (56, "Judy", 23, 91, 20221123),
    (57, "Quentin", 25, 87, 20221124),
    (58, "Liam", 24, 84, 20221125),
    (59, "Gara", 22, 86, 20221126),
    (60, "Fiona", 23, 83, 20221127),
    (61, "Olivia", 24, 90, 20221128),
    (62, "Frank", 23, 79, 20221129),
    (63, "Zane", 24, 88, 20221130)
]



schema1 = StructType([
    StructField("ID", IntegerType(), True),
    StructField("Name", StringType(), True),
    StructField("Age", IntegerType(), True),
    StructField("Score", IntegerType(), True),
    StructField("Timestamp", LongType(), False)
])

df1=spark.createDataFrame(data=data1, schema=schema1)
df1.display()

ID,Name,Age,Score,Timestamp
1,Sophia,23,85,20221001
2,Mila,22,78,20221002
3,George,24,92,20221003
5,Thomas,23,88,20221005
6,Isaac,25,80,20221006
9,Aaron,23,89,20221009
10,Wendy,21,91,20221010
11,Uma,24,82,20221011
16,Rachel,24,87,20221016
17,Quinn,22,81,20221017
18,Liam,23,93,20221018
20,Bob,21,85,20221020
21,Alice,23,88,20221021
22,Charlie,22,78,20221022
24,Paul,21,76,20221024
25,Pete,23,88,20221025
26,Karl,25,80,20221026
27,Frank,22,90,20221027
29,Noah,23,89,20221029
32,Eve,23,84,20221030
33,Nina,22,77,202211101
35,Yvonne,23,79,20221102
36,Will,24,87,20221103
37,Sia,22,81,20221104
38,Reed,23,93,20221105
39,Olivia,24,74,20221106
40,Pat,21,85,20221107
41,Xena,23,88,20221108
42,Carter,22,78,20221109
43,Jack,24,92,20221110
44,Fiona,21,76,20221111
45,Tina,23,88,20221112
46,Zane,25,80,20221113
47,Vera,22,90,20221114
48,Queen,24,75,20221115
49,Oscar,23,89,20221116
50,Victor,21,91,20221117
51,Yara,24,90,20221118
52,Toby,25,78,20221119
53,Kara,23,85,20221120
54,Zack,22,80,20221121
55,Ivan,24,88,20221122
56,Judy,23,91,20221123
57,Quentin,25,87,20221124
58,Liam,24,84,20221125
59,Gara,22,86,20221126
60,Fiona,23,83,20221127
61,Olivia,24,90,20221128
62,Frank,23,79,20221129
63,Zane,24,88,20221130

In [0]:
unmatched_data=df.join(df1,on='ID', how='left_anti')
unmatched_data.display()

ID,Name,Age,Score,Timestamp
4,David,21,76,20230804
12,Leo,23,84,20230812
8,Heidi,24,75,20230808
7,Grace,22,90,20230807
13,Mona,22,77,20230813
15,Oscar,23,79,20230815
14,Nina,21,95,20230814
19,Sam,24,74,20230819
23,Wendy,24,92,20230823
28,Bella,24,75,20230828
30,Diana,21,91,20230830
31,Eli,24,82,20230831
34,Hannah,21,95,20230903

In [0]:
max_timestamp = df1.agg(max(col('Timestamp')).alias('max_timestamp')).collect()[0]['max_timestamp']

filtered_df1 = df.filter(col('Timestamp') <= max_timestamp)

filtered_ids = filtered_df1.select('ID','Name','Age','Score')


filtered_ids.show()

+---+-------+---+-----+
| ID|   Name|Age|Score|
+---+-------+---+-----+
|  1|  Alice| 23|   85|
|  2|    Bob| 22|   78|
|  3|Charlie| 24|   92|
|  4|  David| 21|   76|
|  5|    Eve| 23|   88|
|  6|  Frank| 25|   80|
|  7|  Grace| 22|   90|
|  8|  Heidi| 24|   75|
|  9|   Ivan| 23|   89|
| 10|   Judy| 21|   91|
| 11|   Karl| 24|   82|
| 12|    Leo| 23|   84|
| 13|   Mona| 22|   77|
| 14|   Nina| 21|   95|
| 15|  Oscar| 23|   79|
| 16|   Paul| 24|   87|
| 17|  Quinn| 22|   81|
| 18| Rachel| 23|   93|
| 19|    Sam| 24|   74|
| 20|   Tina| 21|   85|
+---+-------+---+-----+
only showing top 20 rows